@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}



@font-face {
  font-family: 'YekanBakh';
  src: url('../fonts/YekanBakh-Bold.eot');
  src:  url('../fonts/YekanBakh-Bold.woff2') format('woff2'),
        url('../fonts/YekanBakh-Bold.woff') format('woff'),
        url('../fonts/YekanBakh-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'YekanBakh';
  src: url('../fonts/YekanBakh-Light.eot');
  src:  url('../fonts/YekanBakh-Light.woff2') format('woff2'),
        url('../fonts/YekanBakh-Light.woff') format('woff'),
        url('../fonts/YekanBakh-Light.ttf') format('truetype');
  font-weight: lighter;
  font-style: normal;
}
@font-face {
  font-family: 'YekanBakh';
  src: url('../fonts/YekanBakh-Medium.eot');
  src:  url('../fonts/YekanBakh-Medium.woff2') format('woff2'),
        url('../fonts/YekanBakh-Medium.woff') format('woff'),
        url('../fonts/YekanBakh-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'YekanBakh';
  src: url('../fonts/YekanBakh-Regular.eot');
  src:  url('../fonts/YekanBakh-Regular.woff2') format('woff2'),
        url('../fonts/YekanBakh-Regular.woff') format('woff'),
        url('../fonts/YekanBakh-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'YekanBakh';
  src: url('../fonts/YekanBakh-Thin.eot');
  src:  url('../fonts/YekanBakh-Thin.woff2') format('woff2'),
        url('../fonts/YekanBakh-Thin.woff') format('woff'),
        url('../fonts/YekanBakh-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

body {
  color: rgb(var(--background-start-rgb));
  background: white;
  padding: 0;
  margin: 0;
  direction: rtl;
  font-family:'YekanBakh' !important;
}

*{
  font-family: 'YekanBakh' !important;
}

input:-webkit-autofill,
  input:-webkit-autofill:focus {
    transition: background-color 0s 600000s, color 0s 600000s;
  }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type='radio'] {
  -webkit-appearance: none;
  stroke-width: 1.5px;
  @apply w-3 h-3 rounded-[50%] border border-customGreen-400 border-solid outline-0;
}

input[type='radio']:before {
  content: '';
  @apply block w-3/5 h-3/5 my-[18%] mx-auto rounded-[50%];
}

input[type='radio']:checked:before {
  @apply bg-customGreen-400;

}
input[type='radio']:hover {
  @apply border border-white border-solid;

}

.bg-header {
  background: url('/headerBg.svg') center/cover black;
}

.tooltip {
  @apply relative inline-block;
}

.tooltipText {
  @apply  absolute invisible opacity-0  left-[-24px] z-10 w-[100px] p-2 text-xs font-light text-center transition-opacity bg-white rounded text-customGray-900 bottom-6;
}

.tooltip:hover .tooltipText {
  @apply visible opacity-100;
}    

.tooltip .tooltipText::after {
  content: "";
  border-color: #fff transparent transparent transparent;
  @apply absolute top-full left-2/4 -ml-[5px] border-[5px];
}